@if (tickets().length) {
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Prioridad</th>
        <th>Estado</th>
        <th>Fecha de Creación</th>
      </tr>
    </thead>
    <tbody>
      @for (ticket of tickets(); track ticket.id) {
        <tr (click)="onRowClick(ticket)">
          <td>{{ ticket.ticketTitle }}</td>
          <td>{{ ticket.priorityLevel | catalogLabel: 'prioridades' }}</td>
          <td>{{ ticket.statusType | catalogLabel: 'estados' }}</td>
          <td>{{ ticket.createdAt | date }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <div>
    <span>Sin resultados de busqueda</span>
  </div>
}
