@if (configForm()) {
  <app-formulario-escritura
    [config]="configForm()"
    (formValueChange)="setValueForms($event)"
  ></app-formulario-escritura>
  <button
    class="mt-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
    (click)="guardarCambios()"
  >
    Guardar Cambios
  </button>
  <button
    class="mt-4 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700"
    (click)="volverListado()"
  >
    Volver al listado
  </button>
} @else {
  <div>
    <h2>No se ha podido cargar la configuracion</h2>
  </div>
}
